<% if current_user.favopicture?(picture) %>

  <%= form_for(current_user.favorites.find_by(picture_id: picture.id), html: { method: :delete }) do |f| %>

  <%= hidden_field_tag :picture_id, picture.id %>

  <button type="submit" class="btn btn-danger"> Unfavorite <span class="badge"><%= @fvcount_users %></span></button>
  
  <% end %>

<% else %>

  <%= form_for(current_user.favorites.build) do |f| %>

  <%= hidden_field_tag :picture_id, picture.id %>

  <button type="submit" class="btn btn-primary"> favorite <span class="badge"><%= @fvcount_users %></span></button>
      
  <% end %>
  
<% end %>
