 
<div class="row">
    
  <% pictures.each do |picture| %>

      <div class="picture">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <%= link_to photoview_picture_path(id: picture.user,photoid: picture.id) do %>
              <img src="<%= picture.image.thumb1.url %>" alt="">
              <% end %>
            </div>
            <div class="panel-body">
              <p><%= link_to picture.title, photoview_picture_path(id: picture.user,photoid: picture.id) %></p>
              <p><%= link_to picture.user.name, user_path(picture.user) %></p>
            </div>
          </div>
        </div>
      </div>
      
  <% end %>

</div>
  
<%= paginate pictures %>
